@if (todos.length > 0) {
<footer class="footer">
  <span class="todo-count">
    <strong>{{ todosUndone.length }}</strong>
    {{ todosUndone.length === 1 ? "item" : "items" }} need to be done
  </span>
  <ul class="filters">
    <li>
      <label (dblclick)="setFilter('all')" [class.selected]="filter === 'all'">All</label>
    </li>
    <li>
      <label (dblclick)="setFilter('active')" [class.selected]="filter === 'active'">Active</label>
    </li>
    <li>
      <label (dblclick)="setFilter('completed')" [class.selected]="filter === 'completed'">Completed</label>
    </li>
  </ul>
  @if (todosDone.length > 0) {
  <button type="button" class="clear-completed" (click)="clearCompleted()">
    Clear Completed
  </button>
  }
</footer>
}
