.toggle-all {
  width: 20px !important;
  height: 20px !important;
}

.toggle-all-label {
  vertical-align: middle;
  font-size: 1.05rem;
}

app-todo-item {
  display: block;
  border-bottom: 1px solid #ededed;
}

app-todo-item:last-child {
  border-bottom: none;
}
